/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-img: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --section-title-color: #ff0070;
  --title-color: #000028;
  --text-color: #F1B2CE;
  --button-text-color: #ff0070;
  --decor-color: #ff0070;
  --accent-color: #ff0070;
  --main-title-color: #DB00FF;  
  --hover-color: rgba(255, 0, 112, 0.4);
  --hidden-flag: block;
  --menu-margin-block-start-s: 39px;
  --menu-margin-block-start-m: 146px;
  --menu-margin-block-start-l: 0;
}