/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-img: url('../images/cover-image-light.png');
  --bg-color: #FFC2E6;
  --section-title-color: #353430;
  --title-color: #353430;
  --text-color: #353430;
  --button-text-color: #353430;
  --accent-color: #FF8DCB;
  --decor-color: #353430;
  --main-title-color: #FFC2E6;
  --hover-color: rgba(50, 49, 45, 0.4);
  --hidden-flag: none;
  --menu-margin-block-start-s: 65px;
  --menu-margin-block-start-m: 172px;
  --menu-margin-block-start-l: 0;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-img: url('../images/cover-image-light.png');
  --bg-color: #FFC2E6;
  --section-title-color: #353430;
  --title-color: #353430;
  --text-color: #353430;
  --button-text-color: #353430;
  --accent-color: #FF8DCB;
  --decor-color: #353430;
  --main-title-color: #FFC2E6;
  --hover-color: rgba(50, 49, 45, 0.4);
  --hidden-flag: none;
  --menu-margin-block-start-s: 65px;
  --menu-margin-block-start-m: 172px;
  --menu-margin-block-start-l: 0;
  }
}