:root {
  --bg-img: url('../images/cover-image-dark.png');
  --base-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #ff0070;
  --main-font: 'IBM Plex Mono', sans-serif;
  --main-font-style: normal;
  --text-size: 18px;
  --text-height: 23px;
  --text-weight: 400;
  --min-block-height: 668px;
}